$primary-color: #090d28;
$secondary-color: #181c3a;
$tertiary-color: #05ab81;
$quaternary-color: #f26d0c;
$quinary-color: #5d27b6;
$senary-color: #f44949;
$ligth-color: #bfdae7;
$primary-txt-color: white;